<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Providers</title>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <link rel="stylesheet" href="css/uswds.css">
  <link rel="stylesheet" href="css/app.css">
</head>

<body ng-app="providersApp" ng-controller="providersController">

  <main class="container usa-grid">
    <h1 class="page-heading">Provider Listing</h1>
    <section class="addNewProvider usa-width-one-third">
      <h2>Add Provider</h2>
      <form class="usa-form">
        <label class="usa-input-required" for="first_name">First Name</label>
        <input ng-model="newProvider.first_name" name="first_name" required aria-required="true">
        <label class="usa-input-required" for="last_name">Last Name</label>
        <input ng-model="newProvider.last_name" name="last_name" required aria-required="true">
        <label class="usa-input-required" for="email_address">Email Address</label>
        <input ng-model="newProvider.email_address" name="email_address" type="email" required aria-required="true">
        <label for="specialty">Specialty</label>
        <input ng-model="newProvider.specialty" name="specialty">
        <label for="practice_name">Practice Name</label>
        <input ng-model="newProvider.practice_name" name="practice_name">
        <button ng-click="addProvider()">Add</button>
      </form>
    </section>

    <section class="showProviders usa-width-two-thirds">
      <h2>Provider Lookup</h2>
      <div class="sort-options usa-grid">
        <div class="usa-width-two-thirds">
          <form class="usa-form">
            <label class="usa-sr-only" for="sortOptions">Sort Options</label>
            <select class="" name="sortOptions" ng-options="option.title for option in sortOptions" ng-model="selected" ng-change="hasChanged()">
          </select>
          </form>
        </div>
        <div class="usa-width-one-third">
          <button ng-click="sortReverse = !sortReverse">Reverse Order</button>
        </div>
      </div>
      <ul class="usa-unstyled-list">
        <li ng-repeat="x in providers | orderBy:sortByField:sortReverse" class="providers-list-item">
          <div class="provider-details">
            <div class="usa-grid-full">
              <span class="detail usa-width-one-half"><em>{{x.last_name}}, {{x.first_name}}</em></span>
              <span class="detail usa-width-one-half">{{x.practice_name}}</span>
            </div>
            <div class="usa-grid-full">
              <span class="detail usa-width-one-half">{{x.email_address}}</span>
              <span class="detail usa-width-one-half">{{x.specialty}}</span>
            </div>
          </div>
          <button ng-click="removeProvider($index)" class="provider-details--remove">&times;</button></li>
      </ul>
    </section>
  </main>
</body>

<script type="text/javascript" src="js/app.js"></script>

</html>
